body {
    background-color: #17131f;
    color: #f3eaff;

    font-family: Arial, sans-serif;

    text-align: center;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 20px;
}
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-text {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 100%;
  animation: scroll-text 12s linear infinite;
}

@keyframes scroll-text {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}